@import "~/.cache/wal/colors-rofi-dark"

*{
    padding: 0;
    margin: 0;
}

window {
    location: northeast;
    anchor: northeast;
    width: 10%;
    height: 18%;
}

inputbar{
    enabled: false;
}