/* Color palette
    --green: #b6f3c9;
    --lightblue: #82bac9
    --blue: #4766f4;
    --darkgrey: #3c3b3e;
    --lightgrey: #4b4a4e;
*/

* {
    border: none;
    border-radius: 0;
    font-family: "SF Pro Display", "JetBrainsMono Nerd Font Propo";
    font-size: 13px;
    margin: 0;
    padding: 0;
    min-height: 0;
}

window#waybar {
    background: transparent;
}

tooltip {
    background: rgba(182, 243, 201, 0.604);
    border-radius: 100px;
    padding: 0 10px;
}

tooltip label {
    color: rgb(0, 0, 0);
}

#user{
    margin: 0 10px;
    color: #b6f3c9;
}

#workspaces button {
    padding: 0 10px;
    margin: 0 1px;
    background: transparent;
    color: #ffffff;
    transition: all 250ms ease-in-out;
}

#workspaces button.empty {
    color: #4b4a4e;
    transition: all 250ms ease-in-out;
}


#workspaces button.visible {
    color: #4766f4;
    transition: all 250ms ease-in-out;
}

#workspaces button.active {
    background-color: #b6f3c9;
    color: #121212;
    transition: all 250ms ease-in-out;
}

#window{
    margin: 0 10px;
    color: #b6f3c9;
}

#clock {
    color: #b6f3c9;
}

#tray{
    color: #b6f3c9;
}

#pulseaudio {
    margin-left: 10px;
    color: #b6f3c9;
    padding: 0 10px;
}

#pulseaudio-slider {
    margin-right: 10px;
}

#pulseaudio-slider slider {
    min-height: 0px;
    min-width: 0px;
    opacity: 0;
    background-image: none;
    border: none;
    box-shadow: none;
}

#pulseaudio-slider trough {
    min-height: 10px;
    min-width: 80px;
    border-radius: 100px;
    border: 1px solid #b6f3c9;
    background: transparent;
}

#pulseaudio-slider highlight {
    min-width: 10px;
    border-radius: 10px;
    background: #b6f3c9;
}

#custom-music{
    margin: 0 10px;
    color: #b6f3c9;
}

#bluetooth {
    margin: 0 10px;
    color: #b6f3c9;
}

#network {
    margin: 0 10px;
    color: #b6f3c9;
}

#battery {
    color: #b6f3c9;
    padding: 0 10px;
    margin-left: 5;
}

#battery.charging {
    color: #121212;
    background-color: #b6f3c9;
}

#battery.warning {
    color: #121212;
    background-color: #ffc942;
}

#battery.warning:not(.charging) {
    color: #121212;
    background-color: #ff7742;
}