@import "/home/fut/.cache/wal/colors-waybar.css";

@define-color bg @background;
@define-color fg @foreground;
@define-color textcolor @cursor;

* {
  border: none;
  border-radius: 0;
  font-family: "JetBrainsMono Nerd Font Propo";
  font-size: 14px;
  padding: 0;
  margin: 0;
  min-height: 36px;
}

window#waybar {
  background: @bg;
}

tooltip {
  background: @color9;
}

tooltip label {
  color: @color15;
}

.modules-left{
  margin-right: 10px;
}

.modules-center{
  margin: 0 10px;
}

.modules-left{
  margin-left: 10px;
}

#custom-separator{
  margin: 0 10px;
}

#custom-separator,
#window,
#clock,
#custom-weather,
#pulseaudio,
#bluetooth,
#network,
#battery {
  color: @color15;
}

#workspaces button {
  padding: 0 10px;
  background: transparent;
  transition: all 250ms ease-in-out;
  color: @color15;
}

#workspaces button.empty {
  color: @color9;
}

#workspaces button.visible {
  transition: all 250ms ease-in-out;
}

#workspaces button.active {
  color: @bg;
  background-color: @color15;
  transition: all 250ms ease-in-out;
}

#custom-music{
  color: @color15;
  margin-left: 15px;
}

#battery{
  padding-right: 10px;
}

#battery.charging {
  color: @bg;
  background-color: @color15;
}

#battery.warning {
  color: @bg;
  background-color: #d3aa42;
}

#battery.warning:not(.charging) {
  color: @color15;
  background-color: #902f2f;
}
